ion-list {
  width: 100%;
}

ion-slides {
  height: 100%;
}
.swiper-slide {
  display: block;
}

.ticker {
  position: absolute;
  left: 5;
  width: 75px;
  white-space: nowrap;
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}

.price {
  position: absolute;
  left: 60px;
  width: 65px;
  white-space: nowrap;
  text-align: right;
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}

.price-lp {
  position: absolute;
  left: 70px;
  width: 65px;
  white-space: nowrap;
  text-align: right;
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}

.change {
  position: absolute;
  left: 125px;
  width: 50px;
  white-space: nowrap;
  text-align: right;
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}

.amount {
  position: absolute;
  left: 165px;
  width: 80px;
  white-space: nowrap;
  text-align: right;
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}

.usd {
  position: absolute;
  right: 150px;
  width: 80px;
  white-space: nowrap;
  text-align: right;
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}

.sek {
  position: absolute;
  right: 75px;
  width: 80x;
  white-space: nowrap;
  text-align: right;
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}

.eth {
  position: absolute;
  right: 25px;
  width: 55px;
  white-space: nowrap;
  text-align: right;
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}
 
.green {
  color: green;
}

.red {
  color: red;
}

.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}

@media (max-width: 480px) {
  .usd {
    display: none;
  }
}

@media (max-width: 413px) {
  .sek {
    display: none;
  }
}

ion-slide{
  overflow-y: auto;
}