<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/portfolios"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Holding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Asset</ion-label>
    <ion-select okText="Ok" cancelText="Cancel" [(ngModel)]="holding.id" interface="popover" clear-input="true" placeholder="Ticker...">
      <ion-select-option *ngFor="let a of assets" [value]="a.id">{{ a.symbol.toUpperCase() }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Amount</ion-label>
    <ion-input slot="end" text-right type="number" [(ngModel)]="holding.amount" clear-input="true"></ion-input>
  </ion-item>
  <ion-item-group  *ngIf="showAdvanced">
    <ion-item-divider>
      <ion-label class="font-small">ADVANCED</ion-label>
    </ion-item-divider>
  <ion-item>
    <ion-label>Convert</ion-label>
    <ion-toggle slot="end" [(ngModel)]="holding.isCalculated"></ion-toggle>
  </ion-item>
  <ion-item *ngIf="showAdvanced && holding.isCalculated">
    <ion-label>Base Asset</ion-label>
    <ion-select okText="Ok" cancelText="Cancel" [(ngModel)]="holding.baseAsset" interface="popover" clear-input="true" placeholder="Ticker...">
      <ion-select-option *ngFor="let a of assets" [value]="a.id">{{ a.symbol.toUpperCase() }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="showAdvanced && holding.isCalculated">
    <ion-label>Convertion Rate</ion-label>
    <ion-input slot="end" text-right type="text" [(ngModel)]="holding.convertionRate"></ion-input>
  </ion-item>
  <ion-item *ngIf="showAdvanced">
    <ion-label>Check Amount</ion-label>
    <ion-toggle slot="end" [(ngModel)]="holding.checkAmount"></ion-toggle>
  </ion-item>
  <ion-item *ngIf="showAdvanced && holding.checkAmount">
    <ion-label>Amount URL</ion-label>
    <ion-input slot="end" text-right type="text" [(ngModel)]="holding.amountUrl"></ion-input>
  </ion-item>  
</ion-item-group>
<ion-toolbar class="ion-text-center">
  <ion-text *ngIf="!showAdvanced" color="primary" (click)="showAdvanced = !showAdvanced">Show advanced</ion-text>
  <ion-text *ngIf="showAdvanced" color="primary" (click)="showAdvanced = !showAdvanced">Hide advanced</ion-text>
</ion-toolbar>
<ion-button [disabled]="disabled()" margin expand="full" (click)="save()">Add</ion-button>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
      <ion-label color="medium" margin-start>Portfolio</ion-label>
      <ion-label *ngIf="portfolio" slot="end" color="medium" text-right margin-end>{{ portfolio.name }}</ion-label>
  </ion-toolbar>
</ion-footer>