@using CryptoPortfolio.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @Html.Partial("_Portfolio")
}
else
{
    <div class="container text-center">
        <br /><br />
        <hr />
        <br /><br />
        <img src="~/images/landing.png" width="300" />
        <br /><br />
        <a class="btn btn-lg btn-default" style="margin-right: 15px;" href="@Url.Action("login", "account")">Log in</a>
        <a class="btn btn-lg btn-default" href="@Url.Action("register", "account")">Register</a>
    </div>
}